body {
    display: flex;
    justify-content: center;
    margin: 5vw;
    color: #252627;
    background-color: #F2EFE9
}

div {
    margin: 1vw;
}

select {
    margin-left: 1vw;
}

table {
    width: 20vw;
}

td {
    width: 20vw;
    height: 2.5vw;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    border: 1px solid black;
}

